.jumbotron{
	text-align:center;
	background:none;
}
.lightSectionImages{
  border : 2px solid #000;
  box-shadow: 2px 5px rgba(0,0,0,0.5);
  margin:auto;
}
.lightSectionImage{
	max-height:100%;
	max-width:100%;
}
#mainCarousel{
	height:auto;
}
.carouselColumn{
 	margin:auto;
 	border-radius: 5px;
}
.carousel-inner{
	width:100%;
	max-height:500px !important;
}
.sectionLight{
	background-color:#eceeef;
	padding:2em;
}
.sectionDark{
	background-color:#ccc;
	padding:2rem;	
}
.sectionDark img{
	border-radius:50%;
	margin-right:20px;
}
.cool_stuff_wrapper{
	margin-top:20px;
}
button.coolStuff_btn{
	background-color:red;
	color:#fff;
	display:block;
	margin:auto;
}
.modal_image{
	padding-left:0px;
}
h5.modal-title{
	margin:auto;
}
.modalFormWrapper{
	padding:2rem;
}
.imageDescriptor{
	background-color: red;
	color:white;
	text-align:center;
}
.imgCenter{
	display:block;
	margin:auto;
}
.btnCenter{
	display:block;
	margin:auto;
	margin-top:15px;
	margin-bottom:20px;
	width:46%;
}
.footer{
	max-height:100%;
}
.footerImage{
	height: 40%;
	padding:10px;
	border-radius: 50%;

}
.fa-facebook-square{
	color:#3b5998;
	font-size:4rem;
}
.fa-google-plus-square{
	color:#c32f10;
	font-size:4rem;
}

.fa-instagram{
	color:#fff;
	font-size:4rem;
}
.fa{
	margin:10px;
}
.socialWrapper{
	margin:auto;
}
